.env
*/.env
./venv/
venv/
__pycache__
*.pyc

**/node_modules/
node_modules/
package-lock.json
.vscode/

Test_Data/
.model_cache/
Completed_Videos/*.mp4
uploads/
for vitutal env.txt
Saved_Matches/
Match_Data_CSV/
setup.sh
